GROQ_API_KEY=

# Cloudinary for file uploads
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=

# Google reCAPTCHA v3
VITE_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# Email configuration
VITE_FORMSUBMIT_SALES_EMAIL=sales@vislybluq.com
VITE_FORMSUBMIT_HR_EMAIL=hr@vislybluq.com
VITE_FORMSUBMIT_INFO_EMAIL=info@vislybluq.com
